<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css"> 
    <link rel="stylesheet" href="/CSS/home_style.css">

    <title>Blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand mr-auto"><img src="../img/logo.png" alt="Health-e-Locker" height="35" width="60"><span class="text-white"> Health-E-Locker</span></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <nav class="navbar-nav">
                    <a href="/dashboard" class="nav-link text-white">Dashboard</a>
                    <a href="#" class="nav-link text-white">Blog</a>
                    <a href="/contactus" class="nav-link text-white">Contact us</a>
                    <button class="btn btn-dark m-auto" type="button">Logout</button>
                </nav>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12 order-sm-first"> 
                <div class="media "> 
                    <img src="<%= blogs[0].urlToImage %>"  class="d-flex blog image-fluid align-self-center img-thumbnail mr-3">
                    <div class="media-body align-self-center">
                        <h2 class="mt-0"><%= blogs[0].title %> </h2>
                        <p class="d-none d-sm-block"><%= blogs[0].description %> </p>
                        <p>
                            <a href="<%= blogs[0].url %>">Click Here To Know More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12"> 
                <div class="media"> 
                    <div class="media-body align-self-center">
                        <h2 class="mt-0"><%= blogs[1].title %></h2>
                        <p class="d-none d-sm-block"><%= blogs[1].description %></p>
                        <p>
                            <a href="<%= blogs[1].url %>">Click Here To Know More</a>
                        </p>
                    </div>
                    <img src="<%= blogs[1].urlToImage %>" alt="Logo" class=" blog image-fluid">
                </div>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="media"> 
                    <img src="<%= blogs[2].urlToImage %>" alt="Buffet" class="d-flex align-self-center blog img-thumbnail mr-3">
                    <div class="media-body align-self-center">
                        <h2 class="mt-0"><%= blogs[2].title %></h2>
                        
                        <p class="d-none d-sm-block"><%= blogs[2].description %> </p>
                        <p>
                            <a href="<%= blogs[2].url %>">Click Here To Know More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12 order-sm-first"> 
                <div class="media "> 
                    <img src="<%= blogs[3].urlToImage %>" class="d-flex blog image-fluid align-self-center img-thumbnail mr-3">
                    <div class="media-body align-self-center">
                        <h2 class="mt-0"><%= blogs[3].title %></h2>
                        <p class="d-none d-sm-block"><%= blogs[3].description %></p>
                        <p>
                            <a href="<%= blogs[3].url %>">Click Here To Know More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12"> 
                <div class="media"> 
                    <div class="media-body align-self-center">
                        <h2 class="mt-0"><%= blogs[4].title %></h2>
                        <p class="d-none d-sm-block"><%= blogs[4].description %></p>
                        <p>
                            <a href="<%= blogs[4].url %>">Click Here To Know More</a>
                        </p>
                    </div>
                    <img src="<%= blogs[3].urlToImage %>"  class=" blog image-fluid">
                </div>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="media"> 
                    <img src="<%= blogs[5].urlToImage %>" class="d-flex align-self-center blog img-thumbnail mr-3">
                    <div class="media-body align-self-center">
                        <h2 class="mt-0"><%= blogs[5].title %></h2>
                        
                        <p class="d-none d-sm-block"><%= blogs[5].description %></p>
                        <p>
                            <a href="<%= blogs[5].url %>">Click Here To Know More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>